/* primary footnote container */
.container-footnote {
	border: 1px solid #727272;
	background: #f7f7f7;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	font-size: 16pt;
	padding: 0.5em;
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: 15em;
	z-index: 10000;
}

/* defines container behavior (slide and disappear) when close button is clicked */
.container-footnote.slide-n-hide {
	opacity: 0;
	-moz-transform: translate(18em, 0);
	-ms-transform: translate(18em, 0);
	-webkit-transform: translate(18em, 0);
	transform: translate(18em, 0);
	-moz-transition: 1s;
	-ms-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}

/* close button */
.container-footnote .close-button {
	background: #cccccc;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	height: 1em;
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 1em;
	z-index: 10001;
}

/* close button x icon*/
.container-footnote .close-button:before {
	content: "+";
	font-size: 1em;
	position: absolute;
	left: 0;
	line-height: 0.8em;
	top: 0;
	text-align: center;
	height: 100%;
	width: 100%;
}

/* displays browser icon, when possible */ 
.container-footnote .browser-img {
	float: left;
	margin-right: 5%;
	width: 17%;
}

/* container for browser description and info */
.for-browser-info {
	clear: right;
	color: #666666;
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: relative;
	width: 78%;
}

/* browser title */
.for-browser-info h5 {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
	width: 100%;
}

/* see more/less button */
.container-footnote .button {
	background-image: none !important;
	background-color: #666666;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff !important;
	float: left;
	font-size: 0.7em;
	margin-top: 0.3rem;
	padding: 0.4rem !important;
	text-decoration: none;
	width: auto;
}

/* see more/less button hover behavior */
.container-footnote .button:hover {
	background-color: #555555;
}

/* container for additional browser/system related information */
.additional-info {
	display: none;
	float: left;
	margin: 0.5em 0 0;
	width: 100%;
}


/* links for additional browser/system related information */
.additional-info .link {
	background: none !important;
	display: block;
	float: left;
	font-size: 0.8rem;
	font-weight: bold;
	margin: 0 2.5% 0.5em !important;
	padding: 0 !important;
	text-decoration: none !important;
	width: 95%;
}

/* hover behavior of links for additional browser/system related information */
.additional-info .link:hover {
	text-decoration: underline !important;
}